<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container pt-4 pt-md-10 pb-4 pb-md-10">

                <div class="row justify-content-start">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-12 col-md-8" id="applications-post">
                      
                      <!-- {{ if .Params.thumbnail }}

                        <a href="{{ if .Params.thumbnailurl }} {{ .Params.thumbnailurl }} {{ else }} {{ .RelPermalink }} {{ end }}" style="color: inherit; text-decoration: inherit; cursor: inherit;"
                        aria-label="Read more about {{ .Title | safeHTML }}">
                        <figure>
                          <img src="{{ .Params.thumbnail | relURL }}" class="img-responsive" alt="{{ .Title | safeHTML }}">
                          {{ with .Params.photocredits }} <figcaption>Photo Credits: {{ . | markdownify }}</figcaption> {{ end }}
                        </figure>

                        </a>
                      {{ else }} -->
                      {{ with .Resources.GetMatch "img/placeholder.png" }}
                          {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title | safeHTML }}">
                          {{ end }}
                        {{ end }}
                      <!-- {{ end }} -->
                      
                        {{ if or .Params.author .Params.date }}
                          <p class="text-muted text-uppercase mb-small text-right">
                            {{ if isset .Params "authors" }}
			      {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                            {{ end }}
                            {{ if and .Params.author .Params.date }} | {{ end }}
                            {{ if .Params.date }}
                              {{ $createdAt := .Date.Format .Site.Params.date_format }}
                              {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                  {{ $createdAt = replace $createdAt $month (i18n $month) }}
                              {{ end }}
                              {{ $createdAt }}
                            {{ end }}
                          </p>
                        {{ end }}

                        <div id="post-content" class="post-content justified-text">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->

                    </div>

                    <!-- *** LEFT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
