{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if isset .Site.Data "clients" }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle | markdownify }}
                </p>

                  <div class="row display-flex">
                    {{ $.Scratch.Set "index" 1 }}
                    {{ range .Site.Data.clients }}
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1 align-middle partner-logo" title="{{ .name }}" data-slide-index="{{ $.Scratch.Get "index" }}">
                        {{ if .url }}
                          <a href="{{ .url | relURL }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" style="border-radius: 0px;"/>
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" style="border-radius: 0px;" />
                        {{ end }}
                    </div>
                    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                    {{ end }}
                  </div>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
